@page "/"
@inject HttpClient Http

<PageTitle>RoK Academy - Answers to your questions</PageTitle>

<div class="form-floating">
    <input id="questionInput"
           class="form-control form-control-lg"
           type="text"
           placeholder="First general of the Edo shogunate?"
           aria-label="Question input"
           disabled="@loadingAnswer"
           @onchange="@FindQuestionOrAnswerAsync">

    <label for="questionInput" class="text-muted">Search for part of- or full question</label>
    <div id="questionHelp" class="form-text text-start">The more specific, the faster your search query will be, and less possible answers.</div>
</div>

<div class="table-responsive table-responsive-md my-3">
    @if (loadingAnswer)
    {
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
    else
    {

        <table class="table table-lg table-dark table-hover table-striped align-middle">
            <thead>
                <tr>
                    @if (answers is not null)
                    {
                        if (answers.Count() is 0)
                        {
                            <th scope="col">Questions</th>
                        }
                    }
                    <th scope="col">Answer(s)</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @if (questionsWithAnswers is null)
                {
                    <tr>
                        <th>
                            Loading data, please wait...
                        </th>
                        <th>
                            <div class="spinner-border text-light" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </th>
                    </tr>
                }
                else
                {
                    @if (answers is null)
                    {
                        <tr>
                            <th>No answer associated with search query..</th>
                        </tr>
                    }
                    else
                    {
                        @if (answers.Count() is 0)
                        {
                            @for (int i = 0; i < questionsWithAnswers.Count; i++)
                            {
                                <tr>
                                    <td>@questionsWithAnswers.ElementAt(i).Key</td>
                                    <td>@questionsWithAnswers.ElementAt(i).Value</td>
                                </tr>
                            }
                        }
                        else
                        {
                            @for (int i = 0; i < answers.Count(); i++)
                            {
                                <tr>
                                    <td>@answers.ElementAt(i)</td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    }

</div>


@code {
    private IReadOnlyDictionary<string, string>? questionsWithAnswers;
    private IEnumerable<string>? answers = Enumerable.Empty<string>();
    private bool loadingAnswer = false;

    protected override async Task OnInitializedAsync()
    {
        await InitializeDataAsync();

        await base.OnInitializedAsync();
    }

    private async Task InitializeDataAsync()
    {
        Dictionary<string, string>? tempDict = await Http.GetFromJsonAsync<Dictionary<string, string>>("data/questions.json");

        questionsWithAnswers = tempDict;
    }

    private async Task FindQuestionOrAnswerAsync(ChangeEventArgs e)
    {
        if (questionsWithAnswers is null)
        {
            answers = Enumerable.Empty<string>();
            return;
        }

        if (string.IsNullOrEmpty($"{e.Value}") || string.IsNullOrWhiteSpace($"{e.Value}"))
        {
            answers = Enumerable.Empty<string>();
            return;
        }

        loadingAnswer = true;
        _ = Task.Run(async () =>
        {
            answers = questionsWithAnswers.Where(q => q.Key.Contains($"{e.Value}", StringComparison.OrdinalIgnoreCase)).Select(a => a.Value);

            await InvokeAsync(() =>
            {
                loadingAnswer = false;
                StateHasChanged();
            });
        });

        await Task.CompletedTask;
    }
}

