@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayout> Localization
@inject IJSRuntime JsRuntime

<header class="mb-auto">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand text-light float-md-start mb-0 py-1 px-0 fs-4" href="">
                <img src="images/graduated.png" class="pe-2" alt="Bootstrap" height="50">
                <span class="d-none d-sm-inline h3">RoK Academy</span>
            </a>
            <div id="links" class="nav nav-masthead align-items-center justify-content-center float-md-end">
                <NavLink class="nav-link py-1 px-0 h6" href=""><i class="fa-solid fa-graduation-cap"></i> <span class="d-none d-md-inline">@Localization["Q&A"]</span></NavLink>
                <FeedbackSubmission />
            </div>
        </div>
    </nav>
</header>

<main class="px-3">
    @Body
</main>

<footer class="px-3 mt-auto text-white-50">
    <div class="d-flex align-content-center align-items-center flex-wrap">
        <div id="copyrightInfo" class="text-start text-break py-2">
            <span class="d-none d-md-inline fs-6">@Localization["Footer"] <a href="https://www.lilith.com/" target="_parent" class="fw-semibold text-white">Lilith Games</a> | </span>
            <span class="d-none d-md-inline fs-6">Rise of Kingdoms &copy; @todaysDate.Year | </span>
            <span class="d-none d-md-inline fs-6">@Localization["FooterRights"]</span>
            <span class="d-inline d-md-none"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  data-bs-html="true"
                  data-bs-title="@Localization["Footer"] <a href='https://www.lilith.com/' target='_parent' class='fw-semibold text-dark'>Lilith Games</a> Rise of Kingdoms">
                &copy; @todaysDate.Year | @Localization["FooterRights"]
            </span>
        </div>
        <div id="languageSettings" class="ms-auto text-wrap">
            <LanguageSelector />
        </div>
    </div>
</footer>

@code {
    private DateOnly todaysDate;
    private Task<IJSObjectReference>? tooltipModule;

    public Task<IJSObjectReference> TooltipModule =>
        tooltipModule ??= JsRuntime.InjectJsObjectReference("import", "./js/tooltip.js");

    protected override async Task OnInitializedAsync()
    {
        todaysDate = DateOnly.FromDateTime(DateTime.Now);

        IJSObjectReference module = await TooltipModule;
        await module.InvokeVoidAsync("initTooltips");

        await base.OnInitializedAsync();
    }
}